<div class="container">
  <div class="row justify-content-center align-items-center mb-lg-5">
    <div class="col-12 col-md-4">
      <!-- search and new sales btn -->
      <div class="d-flex justify-content-between mt-3">
        <h4>Search Sales Data</h4>
        <button type="button" class="btn btn-primary ms-5" routerLink="/sales/new">
          <i class="bi bi-plus-circle-fill"></i>
        </button>
      </div>

      <!-- select customer dropdown -->
      <div>
        <label for="selectCust" class="mb-2">Select Customer</label>
        <select class="form-select mb-2" id="selectCust">
          <option selected>Select Customer</option>
          <option value="1">One</option>
        </select>
      </div>

      <!-- From and To date -->

      <div class="d-flex">
        <!-- From Date -->
        <div class="col-md-6 me-1">
          <label for="fromDate" class="mb-1">From Date</label>
          <input id="fromDate" class="form-control mb-1" type="date" />
        </div>

        <!-- To date -->
        <div class="col-md-6">
          <label for="toDate" class="mb-1">To Date</label>
          <input id="toDate" class="form-control mb-1" type="date" />
        </div>
      </div>

      <!-- search button -->
      <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-primary">
          <i class="bi bi-search me-1"></i>Search
        </button>
      </div>
    </div>
  </div>

  <!-- search details table -->
   @if (false) {
  <div class="row justify-content-center align-items-center mt-5">
    <div class="col-12 col-md-10">
      <div class="d-flex">
        <div class="col-4">
          <div class="fw-bold">From:</div>
          <div class="fw-bold">To:</div>
        </div>
        <div class="col-3">
          <h5 class="fw-bold text-success">Name</h5>
        </div>
        <div class="fw-bold col-3">
          <p>Oragadam</p>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" rowspan="2" class="align-middle">Date</th>
            <th scope="col" rowspan="2" class="align-middle">Invoice No</th>
            <th colspan="4" class="text-center">Curd</th>
            <th colspan="4" class="text-center">Milk</th>
            <th scope="col" rowspan="2" class="align-middle">Daily Total</th>
            <th scope="col" rowspan="2" class="align-middle">Delete</th>
          </tr>
          <tr>
            <th scope="col">Liters</th>
            <th scope="col">Can(s)</th>
            <th scope="col">Price/Ltr</th>
            <th scope="col">Price</th>

            <th scope="col">Liters</th>
            <th scope="col">Can(s)</th>
            <th scope="col">Price/Ltr</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
}
</div>
