<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 mt-3">
      <h3>Customer List</h3>
    </div>
    <div class="col-12 col-md-9 mb-3 d-flex justify-content-end">
        <button class="btn btn-primary btn-sm p-2" routerLink="/customers/new">Add Customer</button>
    </div>
    <div class="col-12 col-md-9">
      <table class="table border-top">
        <thead>
          <tr>
            <th scope="col" class="py-3">#</th>
            <th scope="col" class="py-3">Customer Name</th>
            <th scope="col" class="py-3">Mobile</th>
            <th scope="col" class="py-3">Milk Price(₹)</th>
            <th scope="col" class="py-3">Curd Price(₹)</th>
            <th scope="col" class="py-3">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (cust of customerData(); track cust) {
            <tr>
              <td>1</td>
              <td>{{cust.customerName}}</td>
              <td>{{cust.customerMobile}}</td>
              <td>{{cust.milkPerLiter}}</td>
              <td>{{cust.curdPerLiter}}</td>
              <td>
                <i class="bi bi-pencil me-3"></i>
                <i class="bi bi-trash3"></i>
              </td>
            </tr>
          }          
        </tbody>
      </table>
    </div>
  </div>
</div>
