<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 mt-3">
      <h3>Customer List</h3>
    </div>
    <div class="col-12 col-md-9 d-flex justify-content-end">
        <button class="btn btn-primary btn-sm">Add Customer</button>
    </div>
    <div class="col-12 col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Mobile</th>
            <th scope="col">Milk Price(₹)</th>
            <th scope="col">Curd Price(₹)</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
